AUTH_COOKIE_NAME=edu_admin_session
SESSION_SECRET=change-this-to-a-long-random-secret

ADMIN_EMAIL=admin@hems.uz
ADMIN_PASSWORD=Admin123!
ADMIN_NAME=Azizbek Rahimov

TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_BOT_USERNAME=@your_bot_username
TELEGRAM_WEBHOOK_SECRET=your_webhook_secret
TELEGRAM_LINK_EXPIRE_MINUTES=60

APP_LOGIN_URL=http://localhost:3000/login
